
<div fxLayout="column">
    <span>login</span>
    <div>
        <input [(ngModel)]="model.username" placeholder="username">
    </div>
    <div>
        <textarea [(ngModel)]="model.password" placeholder="password"></textarea>
    </div>
    <button (click)="login()">login</button>
    <button (click)="signup()">signup</button>
</div>
<br>
<div fxLayout="column">
 
    <div>
       title: {{model.title}}
    </div>
    <div>
        description: {{model.description}}
    </div>
</div>

Projektityön sisältö Avoimet rajapinnat
Syksy 2018
Projektityö
Tavoite
Toteutetaan ”Avoimet rajapinnat” -kurssilla projektityönä jokin Rest-pohjainen avoin
rajapinta Node.js:llä tai Laravelilla.
Projektityön voi toteuttaa yksilösuorituksena tai 2-3:n opiskelijan ryhmätyönä. Rajapinta
palauttaa tulokset pääsääntöisesti JSON-formaattina, mutta muitakin formaatteja voi tukea.
Työssä tulee olla kaikki rajapinnan käyttämiseen tarpeelliset sovelluskerrokset:
· tietokanta,
· tiedon tarjoava julkinen rajapinta sekä
· html-css-javascript-tekniikoita hyödyntävä käyttöliittymä, jolla tietoa voi tarkastella
ja päivittää.
Huomioitavia seikkoja
Määritellyn rajapinnan rakenne tulee olla looginen ja käyttäjän kannalta mahdollisimman
helppokäyttöinen ja ymmärrettävä. Tietoa tulee pystyä hakemaan eri kriteerien perusteella ja
päivittämään rajapinnan kautta. Virhetilanteet ilmoitetaan pääsääntöisesti http-protokollan
paluuarvojen perusteella. Katso suositus rajapinnan määrittelystä: http://www.kodeblog.com/10-rest-api-design-best-practices-that-will-make-developers-love-your-api/
Validointi
Kyselyjen muodot ja päivitettävät tiedot tulee validoida. Yksikkötestit ovat suotavia.
Auktorisointi
OAuth2 on auktorisointimenetelmä, jonka toteutus mahdollistaa julkisen RestApin käytön
auktorisoidusti. Tämän konseptin selvittäminen ja käyttö projektissa lisää sen arvoa.
Palautus
Projekti palautetaan kurssin päättyessä PHPStorm-projektina, jossa on mukana lyhyt kuvaus
toiminnallisuudesta ja ohjeet RestApin testaamisesta. Kurssin viimeisessä tapaamisessa
tavoitteena on katselmoida toteutettuja projekteja.